@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: $background;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.color-button {
    background: white;
    color: $success-color;
    border: 1px solid $success-color;
    box-sizing: border-box;
    border-radius: 5px;
}

.ant {
    display: block;

    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;

        &-item-active {
            background: $blue;
            border-radius: 4px;

            &a {
                color: white;
            }
        }
    }

    &-spin-dot {
        width: 3em;
        height: 3em;

        &-item {
            width: 30px;
            height: 30px;
        }
    }

}